<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=vaisqltest02\vaisql19;Database=CellPhoneStipend; UID=CellPhoneStipendAdmin; PWD=V88j3!82699ye5P;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="C:\temp\error.log" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <authentication mode="Windows"/>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.htm">
      <error statusCode="500" redirect="Error.htm" />
      <error statusCode="404" redirect="Error.htm" />
      <error statusCode="403" redirect="Error.htm" />
      <error statusCode="401" redirect="Error.htm" />
    </customErrors>
  </system.web>
</configuration>